<div class="col-sm-8" id="privateInfo" style="margin:0 auto;">
    <form name="catcustomcontentform80539" onsubmit="return checkWholeForm80539(this)" enctype="multipart/form-data" method="post" action="/CustomContentProcess.aspx?A=EditSave&CCID=26466&OID={module_oid}&OTYPE={module_otype}">
        <div class="table-responsive">
            <table class="webform table" cellspacing="0" cellpadding="2" border="0">
                <tr class="formTitle">
                    <td>Basic Info</td>
                </tr>
                <tr>
                    <td>
                        <label for="ItemName">Item Name</label>
                        <br />
                        <input class="cat_textbox_small" type="text" name="ItemName" id="ItemName" maxlength="255" /> &bull;</td>
                </tr>
                <tr>
                    <td>
                        <label for="ItemDescription">Profile Description</label>
                        <br />
                        <textarea name="ItemDescription" id="ItemDescription" cols="10" rows="4" class="cat_listbox" text=""></textarea>
                    </td>
                </tr>
                <tr class="formTitle">
                    <td>Profile Image</td>
                </tr>
                <tr>
                    <td>
                        <label>Current Profile Pic:</label>
                        <br>
                        <img src="{tag_profile pic_value}" style="width:100px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CAT_Custom_1">Update Profile Pic <span class="req">*</span>
                        </label>
                        <br />
                        <input type="file" name="CAT_Custom_1" id="CAT_Custom_1" class="cat_textbox" />
                    </td>
                </tr>
                <tr class="formTitle">
                    <td>Liscense and Region</td>
                </tr>
                <tr>
                    <td>
                        <label for="CAT_Custom_5">License Number <span class="req">*</span>
                        </label>
                        <br />
                        <input type="text" maxlength="4000" name="CAT_Custom_5" id="CAT_Custom_5" class="cat_textbox" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CAT_Category">Region</label>
                        <br />
                        <select name="CAT_Category" id="CAT_Category" class="cat_dropdown">
                            <option value=" ">-- Please select --</option>
                            {module_categorylist  id="-1" maxLevel="1" collection="regionList" template=""} 
                            {% for item in regionList.items -%}
                            	<option value="{{item.id}}">{{item.name}}</option>
                            {% endfor -%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CAT_Custom_7">Contact Email Address <span class="req">*</span>
                        </label>
                        <br />
                        <input type="text" maxlength="4000" name="CAT_Custom_7" id="CAT_Custom_7" class="cat_textbox"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="cat_button" type="submit" value="Submit" id="catcustomcontentbutton" />
                    </td>
                </tr>
            </table>
        </div>
        <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b139.r513877-phase1"></script>
        <script type="text/javascript">
            //<![CDATA[
            var submitcount80539 = 0;
            
            function checkWholeForm80539(theForm) {
                var why = "";
                if (theForm.ItemName) why += isEmpty(theForm.ItemName.value, "Item Name");
                if (why != "") {
                    alert(why);
                    return false;
                }
                if (submitcount80539 == 0) {
                    submitcount80539++;
                    theForm.submit();
                    return false;
                } else {
                    alert("Form submission is in progress.");
                    return false;
                }
            }
            //]]>
        </script>
    </form>
    {module_goback text="Cancel"}
</div>


