<html><!-- InstanceBegin template="/Templates/template_About.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %}
        {% include"/_System/Includes/nav.inc" %}
        <div class="inner-banner">
            <img src="/_assets/img/inner-banner.jpg" />
            <div class="bnrover">
                <div class="pagename1">
                    {module_pagename}
                </div>
            </div>               
        </div>
        <div class="row bgrowwhite homesteps">
        <div class="col-md-12">
        <!-- InstanceBeginEditable name="ContentArea" --><p><img alt="" src="/_assets/img/people.png" style="border: 0px solid; float: left; width: 300px; height: 200px; margin-right: 20px; margin-bottom: 20px;" />
</p>
<p><strong>Our vision is to support the CPA community, individuals and business owners. We provide a reliable source of tax, accounting and
professional advice in a timely manner.</strong></p>
<p>After growing a small local firm 500% in 7 years, a CPA saw a trend developing among business owners and individuals seeking advice. That trend sparked
an idea that support from CPA&rsquo;s and business professionals could be offered without setting up an appointment or waiting for a phone call. Thus, CPA2GO
was born! Why not provide quality answers and professional advice at the fingertips of those who need it most? CPA&rsquo;s are in high demand especially
with the current market structure. Tax laws change and business owners as well as individuals are left with numerous questions. For many business owners,
their business is their lifeline. We here at CPA2GO are vested in partnering with you to expand your business and assist you to achieve success.</p>
<p>Our mission is to put the power of decision making back into your hands. We are intentional about getting you relevant answers from Certified Public Accountants
in the time frame you need them. We are available 7 days per week, 24 hours per day. You may have a quick question, need a second opinion or require
important confirmation regarding a timely business decision. We can help! Whatever you need, our experienced CPA&rsquo;s are here to support you and provide
more than just a marginal answer. Our vision is to support the CPA community, individuals and business owners. We provide a reliable source of tax,
accounting and professional advice in a timely manner.</p><!-- InstanceEndEditable --></div>
        </div>
        <div class="row testimonials">
        <h2>Why People Love CPA2GO</h2>
        <div class="col-lg-4"> <img alt="" class="rounded-circle" src="/_assets/img/testimonial_Berkshire Hathaway.jpg" width="140" height="140" />
        <p>I have used CPA2GO for many of my business tax questions.  They have saved me a lot of time and money by being great at what they do. I highly recommend CPA2GO to anyone looking for answers to personal or business accounting questions.</p>
        <h4>Leighton Allen</h4>
        <span class="subtext">Broker, Ally Real Estate</span> </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4"> <img class="rounded-circle" src="/_assets/img/testimonial_DJ_HW.jpg" alt="Generic placeholder image" width="140" height="140" />
        <p>CPA2GO has been a great asset to my business. They have saved me time and money by answering my specific tax questions thoroughly.</p>
        <h4>DJ Thomas</h4>
        <span class="subtext">Manager, Hemingway West</span> </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4"> <img class="rounded-circle" src="/_assets/img/testimonial_leslie .JPG" alt="Generic placeholder image" width="140" height="140" />
        <p>As a business owner, I trust the expertise and guidance of CPA2GO.  The professionals at CPA2GO really made my life easier when it came to my tax questions.</p>
        <h4>Leslie Hankins</h4>
        <span class="subtext">Owner, Larousse Events</span> </div>
        <!-- /.col-lg-4 -->
        </div>
        {% include"/_System/Includes/footer.inc" %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>