<html><!-- InstanceBegin template="/Templates/template_simple.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        <div class="inner-banner">
            <img src="/_assets/img/inner-banner.jpg" />
            <div class="bnrover">
                <div class="pagename1">
                    {module_pagename}
                </div>
            </div>               
        </div>
        <div class="row bgrowwhite homesteps">
            <div class="col-md-12">
                <!-- InstanceBeginEditable name="ContentArea" --><p>Your feedback is very important to us at CPA2GO. If you have any questions, please select the appropriate email below and someone will get back with you within 24-48 Hours.</p>
<p>Sales: <a href="mailto:sales@cpa2go.com">sales@cpa2go.com</a></p>
<p>Support:&nbsp;<a href="mailto:support@cpa2go.com">support@cpa2go.com</a></p>
<p>General Questions:&nbsp;<a href="mailto:general@cpa2go.com">general@cpa2go.com</a></p>
<p>Franchise Opportunities:&nbsp;<a href="mailto:joinus@cpa2go.com">joinus@cpa2go.com</a></p>
<p>We can also be reached between 8:00am - 5:00pm M-F @ 1-800-555-5555</p>
<p><br />
</p><!-- InstanceEndEditable --></div>
        </div>
        {% include"/_System/Includes/footer.inc" %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>