<html><!-- InstanceBegin template="/Templates/template_simple.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        <div class="inner-banner">
            <img src="/_assets/img/inner-banner.jpg" />
            <div class="bnrover">
                <div class="pagename1">
                    {module_pagename}
                </div>
            </div>               
        </div>
        <div class="row bgrowwhite homesteps">
            <div class="col-md-12">
                <!-- InstanceBeginEditable name="ContentArea" -->
<h3>Why use CPA2GO?&nbsp;</h3>
<p>When your question demands more than just a google answer. When tax law reads like Caesar wrote it.&nbsp;</p>
<h3>What are some examples of questions that CPA2GO answers?&nbsp;</h3>
What is the difference between an LLC and an S Corporation?  Now that I am self-employed what can I write off and what documentation do I need to save?  Should I buy or lease a vehicle for my business?  What new tax law changes will affect me or my business?<br />
&nbsp; &nbsp; &nbsp;&nbsp;
<h3>Does CPA2GO take the place of my existing advisor&rsquo;s, CPA&rsquo;s or tax preparer&rsquo;s?&nbsp;</h3>
No.  We are the stop gap, second opinion or quick answer to your important questions.  We will point you to a local professional if you need help with your long-term solutions.&nbsp;
<h3>How many questions can I ask CPA2GO?&nbsp;</h3>
There are no limits to how many questions you can ask our licensed CPAs. Each question will be processed individually and can be accessed in your account dashboard.&nbsp;
<h3>How quick will I receive an answer once I have &ldquo;Asked a Question&rdquo;?&nbsp;</h3>
Our licensed CPAs process tax questions as they are received. The typical response time is 1-2 hours.&nbsp;
<h3>How is payment processed once I sign up?</h3>
Payment information is required to be submitted before asking a question. Payment will be processed once the question is asked. A licensed CPA will then generate a response within a timely manner.<!-- InstanceEndEditable --></div>
        </div>
        {% include"/_System/Includes/footer.inc" %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>