<html><!-- InstanceBegin template="/Templates/template_simple.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        <div class="inner-banner">
            <img src="/_assets/img/inner-banner.jpg" />
            <div class="bnrover">
                <div class="pagename1">
                    {module_pagename}
                </div>
            </div>               
        </div>
        <div class="row bgrowwhite homesteps">
            <div class="col-md-12">
                <!-- InstanceBeginEditable name="ContentArea" --><p><img alt="" src="/_assets/img/ofc1.jpg" style="border: 0px solid; width: 318px; height: 190px; float: left; margin-right: 20px; margin-bottom: 20px;" />
</p>
<p>The CPA2GO business model is one of licensing/franchising to local CPA firms and allowing them to serve the market in which they live and work. With a
    CPA2GO franchise, a CPA firm can add incremental income to their existing business with very little overhead added as they already have the tools and
    employees to answer questions for their community. In addition to adding substantial profits to the bottom line, they also get exposure to a new generation
    of business owners who utilize technology and social media more than ever before. If your firm has an interest in purchasing the local license/franchise
    please contact us at <a href="mailto:joinus@cpa2go.com">joinus@cpa2go.com</a></p><!-- InstanceEndEditable --></div>
        </div>
        {% include"/_System/Includes/footer.inc" %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>