<html><!-- InstanceBegin template="/Templates/template_user_sidenav.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        
<div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 sidenav">
                {% include"/_System/Includes/user_sidenav.inc" %}
            </div>
            <div class="col-sm-8">
                <!-- InstanceBeginEditable name="ContentArea" --><h2>Account History</h2>
<h3>Closed Tickets</h3>



{module_webappscustomer id="26435" filter="all" collection="questions" template=""} 
{% for item in questions.items %} 
	{% if item.['Submitted Customer ID'] == {{globals.user.entityId}} -%}
        {% if item.status == 'Closed' -%} 
                <a href="{{item.url}}">{{item.name}}</a><br>
        {% endif -%} 
	{% endif -%} 
{%endfor%}<!-- InstanceEndEditable -->
            </div>
        </div>
        </div>
         {% include"/_System/Includes/loadingIcon.inc" %}
         {% include"/_System/Includes/footer.inc" %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>