<html><!-- InstanceBegin template="/Templates/template_user_sidenav.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title>Customer Submission Page</title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" -->
        
        <meta name="description" />
    <!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        
<div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 sidenav">
                {% include"/_System/Includes/user_sidenav.inc" %}
            </div>
            <div class="col-sm-8">
                <!-- InstanceBeginEditable name="ContentArea" -->
        <div id="submissionForm" class="text-center">
        <form name="catcustomcontentform23092" onsubmit="return checkWholeForm23092(this)" enctype="multipart/form-data" method="post" action="/CustomContentProcess.aspx?CCID=26435&amp;OID={module_oid}&amp;OTYPE={module_otype}">
            <table class="webform" cellspacing="0" cellpadding="2" border="0">
                <tbody>
                    <tr>
                        <td>
                        <label for="ItemName">Item Name</label>
                        <br />
                        <input class="cat_textbox_small" type="text" name="ItemName" id="ItemName" maxlength="255" /> &bull;</td>
                    </tr>
                    <tr>
                        <td>
                        <label>Select Your Zip: <span class="req">*</span>
                        </label>
                        <br />
                        <select name="CAT_Category" id="CAT_Category" class="cat_dropdown">
                        <option value="119446">75001</option>
                        <option value="119448">75006</option>
                        <option value="119449">75007</option>
                        <option value="119451">75015</option>
                        <option value="119352">75019</option>
                        <option value="119354">75038</option>
                        <option value="119353">75039</option>
                        <option value="119356">75040</option>
                        <option value="119355">75041</option>
                        <option value="119358">75042</option>
                        <option value="119357">75043</option>
                        <option value="119359">75044</option>
                        <option value="119360">75047</option>
                        <option value="119361">75048</option>
                        <option value="119363">75050</option>
                        <option value="119362">75051</option>
                        <option value="119364">75052</option>
                        <option value="119365">75054</option>
                        <option value="119367">75060</option>
                        <option value="119366">75061</option>
                        <option value="119369">75062</option>
                        <option value="119368">75063</option>
                        <option value="119370">75080</option>
                        <option value="119372">75081</option>
                        <option value="119371">75082</option>
                        <option value="119374">75088</option>
                        <option value="119373">75089</option>
                        <option value="119375">75099</option>
                        <option value="119376">75104</option>
                        <option value="119377">75106</option>
                        <option value="119378">75115</option>
                        <option value="119379">75116</option>
                        <option value="119380">75123</option>
                        <option value="119381">75125</option>
                        <option value="119382">75134</option>
                        <option value="119383">75137</option>
                        <option value="119384">75141</option>
                        <option value="119385">75146</option>
                        <option value="119387">75149</option>
                        <option value="119386">75150</option>
                        <option value="119388">75154</option>
                        <option value="119389">75159</option>
                        <option value="119390">75172</option>
                        <option value="119392">75180</option>
                        <option value="119391">75181</option>
                        <option value="119393">75182</option>
                        <option value="119395">75201</option>
                        <option value="119394">75202</option>
                        <option value="119397">75203</option>
                        <option value="119396">75204</option>
                        <option value="119399">75205</option>
                        <option value="119398">75206</option>
                        <option value="119401">75207</option>
                        <option value="119400">75208</option>
                        <option value="119403">75209</option>
                        <option value="119402">75210</option>
                        <option value="119405">75211</option>
                        <option value="119404">75212</option>
                        <option value="119407">75214</option>
                        <option value="119406">75215</option>
                        <option value="119409">75216</option>
                        <option value="119408">75217</option>
                        <option value="119411">75218</option>
                        <option value="119410">75219</option>
                        <option value="119412">75220</option>
                        <option value="119414">75222</option>
                        <option value="119413">75223</option>
                        <option value="119416">75224</option>
                        <option value="119415">75225</option>
                        <option value="119418">75226</option>
                        <option value="119417">75227</option>
                        <option value="119420">75228</option>
                        <option value="119419">75229</option>
                        <option value="119422">75230</option>
                        <option value="119421">75231</option>
                        <option value="119424">75232</option>
                        <option value="119423">75233</option>
                        <option value="119426">75234</option>
                        <option value="119425">75235</option>
                        <option value="119428">75236</option>
                        <option value="119427">75237</option>
                        <option value="119429">75238</option>
                        <option value="119431">75240</option>
                        <option value="119430">75241</option>
                        <option value="119433">75242</option>
                        <option value="119432">75243</option>
                        <option value="119434">75244</option>
                        <option value="119436">75246</option>
                        <option value="119435">75247</option>
                        <option value="119438">75248</option>
                        <option value="119437">75249</option>
                        <option value="119439">75251</option>
                        <option value="119440">75253</option>
                        <option value="119441">75254</option>
                        <option value="119442">75275</option>
                        <option value="119443">75283</option>
                        <option value="119444">75284</option>
                        <option value="119445">75326</option>
                        <option value="119447">75390</option>
                        <option value="119450">75397</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="CAT_Custom_1">Username</label>
                        <br />
                        <input type="text" maxlength="4000" name="CAT_Custom_1" id="CAT_Custom_1" class="cat_textbox" value="{module_username}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="CAT_Custom_2">Question <span class="req">*</span>
                        </label>
                        <br />
                        <textarea name="CAT_Custom_2" id="CAT_Custom_2" cols="10" rows="4" class="cat_listbox" onkeydown="if(this.value.length&gt;=4000)this.value=this.value.substring(0,3999);"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="CAT_Custom_3">Related Files</label>
                        <br />
                        <input type="file" name="CAT_Custom_3" id="CAT_Custom_3" class="cat_textbox" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="cat_button" type="submit" value="Submit" id="catcustomcontentbutton" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b139.r513877-phase1"></script>
            <script type="text/javascript">
                    //<![CDATA[
                    var submitcount23092 = 0;
                    
                    function checkWholeForm23092(theForm) {
                        var why = "";
                        if (theForm.ItemName) why += isEmpty(theForm.ItemName.value, "Item Name");
                        if (theForm.CAT_Custom_2) why += isEmpty(theForm.CAT_Custom_2.value, "Question");
                        if (why != "") {
                            alert(why);
                            return false;
                        }
                        if (submitcount23092 == 0) {
                            submitcount23092++;
                            theForm.submit();
                            return false;
                        } else {
                            alert("Form submission is in progress.");
                            return false;
                        }
                    }
                    //]]>
                </script>
        </form>
        </div>
    <!-- InstanceEndEditable -->
            </div>
        </div>
        </div>
         {% include"/_System/Includes/footer.inc" %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>