<html><!-- InstanceBegin template="/Templates/template_cpa_sidenav.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title>cpaDashData</title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" -->
        
        <meta name="description" content="" />
    <!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        
<div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 sidenav">
                {% include"/_System/Includes/cpa_sidenav.inc" %}
            </div>
            <div class="col-sm-8">
                <!-- InstanceBeginEditable name="ContentArea" -->
        {module_categorylist collection="fullList" template=""}
        
        <h2>Full Category List (both apps) filtered by Zip </h2>
        {% for item in fullList.items %}
        	{% if item.name == "75007" -%}
        		<script>console.log({{ item | json }});</script>
        		{% assign cat = item.id -%}
       		{% endif -%}
        {%endfor%}
        
        
        <!-- Customer questions by a zip code -->
        {module_webapps render="item" id="26435" filter="classified" itemId="{{cat}}" resultsPerPage="100" rowCount="1" }
        
        
        <div id="webAppForm" style="width:50%;">
            <h2>CPA INPUT FORM</h2>
            <form name="catcustomcontentform7812" onsubmit="return checkWholeForm7812(this)" enctype="multipart/form-data" method="post" action="/CustomContentProcess.aspx?CCID=26466&OID={module_oid}&OTYPE={module_otype}">
                <table class="webform" cellspacing="0" cellpadding="2" border="0">
                    <tr>
                        <td>
                            <label for="ItemName">Display Name</label>
                            <br />
                            <input class="cat_textbox_small" type="text" name="ItemName" id="ItemName" maxlength="255" /> &bull;</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ItemDescription">Profile Description</label>
                            <br />
                            <textarea name="ItemDescription" id="ItemDescription" cols="10" rows="4" class="cat_listbox" text=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="CAT_Custom_1">Profile Pic <span class="req">*</span>
                            </label>
                            <br />
                            <input type="file" name="CAT_Custom_1" id="CAT_Custom_1" class="cat_textbox" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="cat_button" type="submit" value="Submit" id="catcustomcontentbutton" />
                        </td>
                    </tr>
                </table>
                <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b147.r514197-phase1"></script>
                <script type="text/javascript">
                    //<![CDATA[
                    var submitcount7812 = 0;
                    
                    function checkWholeForm7812(theForm) {
                        var why = "";
                        if (theForm.ItemName) why += isEmpty(theForm.ItemName.value, "Item Name");
                        if (theForm.CAT_Custom_1) why += isEmpty(theForm.CAT_Custom_1.value, "Profile Pic");
                        if (why != "") {
                            alert(why);
                            return false;
                        }
                        if (submitcount7812 == 0) {
                            submitcount7812++;
                            theForm.submit();
                            return false;
                        } else {
                            alert("Form submission is in progress.");
                            return false;
                        }
                    }
                    //]]>
                </script>
            </form>
        </div>


        <div id="AccountSettings">
            <h2>Account History as Profile set test</h2>
            {module_webappscustomer,26466,a,,,,true,10,false,1}
        </div>
        
        
        <h2>More Recent Scrolled Testing from Main Dash</h2>
        <!--Launch the CPA app, find their one entry, should only have 1, and get their CPA ID from it -->
        {module_webappscustomer id="26466", filter="all", collection="idEntry" template=""}
        {% for item in idEntry.items %}
        {% assign CPAID = item.itemID %}
        <p>CPA ID: </p>
        <pre>{{CPAID | json }}</pre>
        {%endfor%}
        {module_webapps id="26435" filter="all" collection="questions" template=""}
         <h2>Assigned Tickets JSON</h2>
        <div class="jsonoutput" style="max-height: 500px; overflow: scroll; border: 1px solid black;">
        {% for item in questions.items %}
        {% if item.['Preferred CPA_id'] == CPAID -%}
        <!-- Output assigned tickets -->
        <pre>{{item | json }}</pre>
        {% endif -%}
        {%endfor%}
        </div>
        <h2>All Tickets JSON</h2>
        <div class="jsonoutput" style="max-height: 500px; overflow: scroll; border: 1px solid black;">
        {% for item in questions.items %}
        <pre>{{item | json}}</pre>
        {%endfor%}
        </div>
        
        
        
        
        
        <h2>Add Ticket Dashboard Here</h2>
        {module_webapps id="26435" filter="all" collection="questions" template=""}
                
        {% for item in questions.items %}
        	{% if item.['Preferred CPA_id'] == 5293375 -%}
        		<h2>MANUAL FILTERED RESULTS</h2>
        		<pre>{{ item | json }}</pre>
       		{% endif -%}
        {%endfor%}

        
        <h2>CPA ONE APP ENTRY DATA</h2>
        {module_webappscustomer id="26466", filter="all", collection="idEntry" template=""}
        {% for item in idEntry.items %}
	        <pre>{{item | json }}</pre>
	        {% assign CPAID = item.itemID %}
	        <pre>{{CPAID | json }}</pre>
        {%endfor%}
        
        <h2>ONLY SHOW CPA TICKETS FROM GRABBED ID</h2>
        <!-- Load CPA app and get ID of one item they should be assigned to-->
        {module_webappscustomer id="26466", filter="all", collection="idEntry" template=""}
        {% for item in idEntry.items %}
	        <pre>{{item | json }}</pre>
	        {% assign CPAID = item.itemID %}
	        <pre>{{CPAID | json }}</pre>
        {%endfor%}
        
        <!--Filter questions that have been assigned to their ID-->
        {module_webapps id="26435" filter="all" collection="questions" template=""}                
        {% for item in questions.items %}
        	{% if item.['Preferred CPA_id'] == CPAID -%}
        		<pre>{{ item | json }}</pre>
       		{% endif -%}
        {%endfor%}
        
        
    <!-- InstanceEndEditable -->
            </div>
        </div>
        </div>
        <div class="footer mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <p>CPA2GO LOGO</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Footer Info .... Interactively monetize equity invested models after team driven customer service. </p>
                    </div>
                    <div class="col-sm-4 footnav">
                        <ul>
                            <li><a href="/">Home</a>
                            </li>
                            <li><a href="/">About</a>
                            </li>
                            <li><a href="/">Our Policies </a>
                            </li>
                            <li><a href="/">Login</a>
                            </li>
                            <li><a href="/">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>