<html><!-- InstanceBegin template="/Templates/template_regional_sidenav.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title>Manage CPAs</title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" -->
        
        <meta name="description" content="" />
    <!-- InstanceEndEditable -->

    
</head>
<body>
        {% include"/_System/Includes/head.inc" %} {% include"/_System/Includes/nav.inc" %}
        <div class="container mt-5">
        <div class="row">
        <div class="col-sm-4 sidenav">
        {% include"/_System/Includes/regional_sidenav.inc" %}
        </div>
        <div class="col-sm-8">
        <!-- InstanceBeginEditable name="ContentArea" -->
        <h2>Add</h2>
        <h3>TODO Add category Filter, Zip Multiselect</h3>
        <!--- Extended CRM ID and Zip Field ID, get regional's category parent --> 
        {module_customerfield,575250,801480 collection="regionalAdminCategory" template=""}
        
        <div id="webAppEntry">
            <form name="catcustomcontentform99240" onsubmit="return checkWholeForm99240(this)" enctype="multipart/form-data" method="post" action="/CustomContentProcess.aspx?CCID=26466&OID={module_oid}&OTYPE={module_otype}">
                <table class="webform" cellspacing="0" cellpadding="2" border="0">
                    <tr>
                        <td>
                            <label for="ItemName">CPA Name</label>
                            <br />
                            <input class="cat_textbox_small" type="text" name="ItemName" id="ItemName" maxlength="255" /> &bull;</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ItemDescription">CPA Profile</label>
                            <br />
                            <textarea name="ItemDescription" id="ItemDescription" cols="10" rows="4" class="cat_listbox" text=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="CAT_Custom_1">Profile Pic <span class="req">*</span>
                            </label>
                            <br />
                            <input type="file" name="CAT_Custom_1" id="CAT_Custom_1" class="cat_textbox" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="CAT_Custom_4">Zip Codes</label>
                            <br />
                            <input type="text" maxlength="4000" name="CAT_Custom_4" id="CAT_Custom_4" class="cat_textbox" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Select Zip Codes<span class="req">*</span>
                            </label>
                            <br>
                            <select name="CAT_Category" id="CAT_Category" class="cat_listbox" rows="4" multiple="multiple">
                              {module_categorylist id="{{regionalAdminCategory.value}}" maxLevel = "1" collection="regionalAdminZips"}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="cat_button" type="submit" value="Submit" id="catcustomcontentbutton" />
                        </td>
                    </tr>
                </table>
                <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b147.r514197-phase1"></script>
                <script type="text/javascript">
                    //<![CDATA[
                    var submitcount99240 = 0;
                    
                    function checkWholeForm99240(theForm) {
                        var why = "";
                        if (theForm.ItemName) why += isEmpty(theForm.ItemName.value, "Item Name");
                        if (theForm.CAT_Custom_1) why += isEmpty(theForm.CAT_Custom_1.value, "Profile Pic");
                        if (why != "") {
                            alert(why);
                            return false;
                        }
                        if (submitcount99240 == 0) {
                            submitcount99240++;
                            theForm.submit();
                            return false;
                        } else {
                            alert("Form submission is in progress.");
                            return false;
                        }
                    }
                    //]]>
                </script>
            </form>
        </div>
    <!-- InstanceEndEditable -->
        </div>
        </div>
        </div>
        <div class="footer mt-5">
        <div class="container">
        <div class="row">
        <div class="col-sm-4">
        <p>CPA2GO LOGO</p>
        </div>
        <div class="col-sm-4">
        <p>Footer Info .... Interactively monetize equity invested models after team driven customer service. </p>
        </div>
        <div class="col-sm-4 footnav">
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/">About</a>
            </li>
            <li><a href="/">Our Policies </a>
            </li>
            <li><a href="/">Login</a>
            </li>
            <li><a href="/">Contact</a>
            </li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
    
</body>
<!-- InstanceEnd --></html>